<div style="width: 100%; background-color: #ebeef2;">
  <div style="width: 600px; padding: 24px; margin: auto; background-color: #ffffff;">
    <h4>Hi <%= @school_submission.contact_first_name %>,</h4>

    <p>Thank you for your student selection. We can't wait to meet your student at the upcoming conference!</p>

    <p>Your student was sent a link to confirm the rest of their registration process.</p>

    <p>Please review the information below for accuracy. Please email any corrections to registration@edgeyl.org.</p>

    <h4>School Information</h4>
    <p>School name: <%= @school_submission.name %></p>
    <p>Address one: <%= @school_submission.address_one %></p>
    <p>Address two: <%= @school_submission.address_two || 'n/a' %></p>
    <p>Address city: <%= @school_submission.address_city %></p>
    <p>Address state: <%= @school_submission.address_state %></p>
    <p>Address zip: <%= @school_submission.address_zip %></p>
    <p>Website: <%= @school_submission.website || 'n/a' %></p>

    <h4>School Contact Information</h4>
    <p>School contact first name: <%= @school_submission.contact_first_name %></p>
    <p>School contact last name: <%= @school_submission.contact_last_name %></p>
    <p>School contact title: <%= @school_submission.contact_title %></p>
    <p>School contact email: <%= @school_submission.contact_email %></p>
    <p>School contact phone number <%= @school_submission.contact_phone_number %></p>

    <h4>Primary Student Information</h4>
    <p>Student first name: <%= @school_submission.primary_first_name %></p>
    <p>Student last name: <%= @school_submission.primary_last_name %></p>
    <p>Student address one: <%= @school_submission.primary_address_one %></p>
    <p>Student address two: <%= @school_submission.primary_address_two %></p>
    <p>Student address city: <%= @school_submission.primary_address_city %></p>
    <p>Student address state: <%= @school_submission.primary_address_state %></p>
    <p>Student address zip: <%= @school_submission.primary_address_zip %></p>
    <p>Student home phone: <%= @school_submission.primary_home_phone %></p>
    <p>Student cell phone: <%= @school_submission.primary_cell_phone %></p>
    <p>Student email: <%= @school_submission.primary_email %></p>
    <p>Student birthday: <%= @school_submission.primary_birthday %></p>
    <p>Student gender: <%= @school_submission.primary_gender %></p>
    <p>Student shirt size: <%= @school_submission.primary_shirt_size %></p>
    <p>Parent/guardian first name: <%= @school_submission.primary_guardian_first_name %></p>
    <p>Parent/guardian last name: <%= @school_submission.primary_guardian_last_name %></p>
    <p>Parent/guardian email: <%= @school_submission.primary_guardian_email %></p>
    <p>Parent/guardian phone number: <%= @school_submission.primary_guardian_phone_number %></p>
    <p>Parent/guardian phone type: <%= @school_submission.primary_guardian_phone_type %></p>
    <p>Parent/guardian relationship: <%= @school_submission.primary_guardian_relationship %></p>

    <p>Best,</p>
    <h4>The EDGE Recruitment Team</h4>
    <img style="max-height: 72px;" src="https://9c404004ce0d907890fa-fbe50a01167c9238a8e63220e2af5ab8.ssl.cf1.rackcdn.com/user_photo-561f019532d91.jpg">
  </div>
</div>
