<div style="width: 100%; background-color: #ebeef2;">
  <div style="width: 600px; padding: 24px; margin: auto; background-color: #ffffff;">
    <h4>Hi <%= @student_submission.first_name %>,</h4>

    <p>Thank you for completing your registration.</p>

    <p>Please review the information below for accuracy. Please email any corrections or questions to registration@edgeyl.org.</p>

    <h4>General Student Information</h4>
    <p>First Name: <%= @student_submission.first_name %></p>
    <p>Last Name: <%= @student_submission.last_name %></p>
    <p>Preferred Name: <%= @student_submission.preferred_name || 'n/a' %></p>
    <p>Address One: <%= @student_submission.address_one %></p>
    <p>Address Two: <%= @student_submission.address_two || 'n/a' %></p>
    <p>Address City: <%= @student_submission.address_city %></p>
    <p>Address State: <%= @student_submission.address_state %></p>
    <p>Address Zip: <%= @student_submission.address_zip %></p>
    <p>Email: <%= @student_submission.email %></p>
    <p>Home Phone: <%= @student_submission.home_phone %></p>
    <p>Cell Phone: <%= @student_submission.cell_phone %></p>
    <p>Gender: <%= @student_submission.gender %></p>
    <p>Birthday: <%= @student_submission.birthday.to_formatted_s(:long_ordinal) %></p>
    <p>Shirt size: <%= @student_submission.shirt_size %></p>

    <h4>Emergency Contact Information</h4>
    <p>Parent/Guardian 1 First Name: <%= @student_submission.guardian_one_first_name %></p>
    <p>Parent/Guardian 1 Last Name: <%= @student_submission.guardian_one_last_name %></p>
    <p>Parent/Guardian 1 Email: <%= @student_submission.guardian_one_email %></p>
    <p>Parent/Guardian 1 Phone Number: <%= @student_submission.guardian_one_phone_number %></p>
    <p>Parent/Guardian 1 Phone Type: <%= @student_submission.guardian_one_phone_type %></p>
    <p>Parent/Guardian 1 Relationship: <%= @student_submission.guardian_one_relationship %></p>
    <p>Parent/Guardian 1 Employer: <%= @student_submission.guardian_one_employer || 'n/a' %></p>
    <p>Parent/Guardian 1 Job Title: <%= @student_submission.guardian_one_job_title || 'n/a' %></p>
    <p>Parent/Guardian 2 First Name: <%= @student_submission.guardian_two_first_name || 'n/a' %></p>
    <p>Parent/Guardian 2 Last Name: <%= @student_submission.guardian_two_last_name || 'n/a' %></p>
    <p>Parent/Guardian 2 Email: <%= @student_submission.guardian_two_email || 'n/a' %></p>
    <p>Parent/Guardian 2 Phone Number: <%= @student_submission.guardian_two_phone_number || 'n/a' %></p>
    <p>Parent/Guardian 2 Phone Type: <%= @student_submission.guardian_two_phone_type || 'n/a' %></p>
    <p>Parent/Guardian 2 Relationship: <%= @student_submission.guardian_two_relationship || 'n/a' %></p>
    <p>Parent/Guardian 2 Employer: <%= @student_submission.guardian_two_employer || 'n/a' %></p>
    <p>Parent/Guardian 2 Job Title: <%= @student_submission.guardian_two_job_title || 'n/a' %></p>

    <h4>Student Medical Information</h4>
    <p>Have you had all immunizations as required by your school?: <%= @student_submission.immunizations %></p>
    <p>Do you have any allergies to food, medications, insects, etc.?: <%= @student_submission.allergies %></p>
    <p>Allergies - Please Specify: <%= @student_submission.allergies_other %></p>
    <p>Have you previously been diagnosed with or currently have any of the following health conditions (check all that apply)?: <%= @student_submission.health_conditions %></p>
    <p>Please briefly describe all conditions selected: <%= @student_submission.health_conditions_description || 'n/a' %></p>
    <p>Please list any medication(s) that you currently take and/or will need to take during the seminar weekend: <%= @student_submission.medications %></p>
    <p>Please select any dietary restrictions that you have: <%= @student_submission.dietary_restrictions %></p>
    <p>Please list any other dietary restrictions that you have: <%= @student_submission.other_dietary_restrictions || 'n/a' %></p>
    <p>Please list any limitations on the amount of physical exercise you can engage in: <%= @student_submission.exercise_limitations %></p>
    <p>Consent to Treat in Case of Emergency: <%= @student_submission.emergency_consent %></p>
    <p>Parent/Guardian Digital Signature <%= @student_submission.emergency_consent_name %></p>
    <p>Consent to Speak to a Licensed Psychologist if in Need: <%= @student_submission.psychologist_consent %></p>
    <p>Parent/Guardian Digital Signature <%= @student_submission.psychologist_consent_name %></p>

    <h4>Insurance Information</h4>
    <p>Does your child have health insurance?: <%= @student_submission.insurance %></p>
    <% if @student_submission.insurance == EnumConstants::BOOLEANS[0] %>
      <p>Insurance Provider: <%= @student_submission.insurance_provider %></p>
      <p>Insurance Provider Address: <%= @student_submission.insurance_address %></p>
      <p>Insurance Provider City: <%= @student_submission.insurance_address_city %></p>
      <p>Insurance Provider State: <%= @student_submission.insurance_address_state %></p>
      <p>Insurance Provider Zip: <%= @student_submission.insurance_address_zip %></p>
      <p>Insurance Provider Phone: <%= @student_submission.insurance_phone_number %></p>
      <p>Group # or ID #: <%= @student_submission.insurance_id %></p>
      <p>Other relevant information on the card: <%= @student_submission.insurance_other || 'n/a' %></p>
    <% end %>

    <h4>Transportation Information</h4>
    <p>How will you be getting to and from the conference?: <%= @student_submission.transportation %></p>
    <% if @student_submission.insurance == EnumConstants::TRANSPORTATION_OPTIONS[2] ||
          @student_submission.insurance == EnumConstants::TRANSPORTATION_OPTIONS[3] ||
          @student_submission.insurance == EnumConstants::TRANSPORTATION_OPTIONS[4] %>
      <p>Name of Station/Airport where you will arrive: <%= @student_submission.transportation_name %></p>
      <p>Flight/Train/Bus Carrier: <%= @student_submission.transportation_carrier %></p>
      <p>Flight/Train/Bus Number: <%= @student_submission.transportation_number %></p>
      <p>Arrival Date: <%= @student_submission.transportation_arrival_date %></p>
      <p>Arrival Time: <%= @student_submission.transportation_arrival_time %></p>
      <p>Departure Date: <%= @student_submission.transportation_departure_date %></p>
      <p>Departure Time: <%= @student_submission.transportation_departure_time %></p>
    <% end %>
    <p>Are you interested in carpooling?: <%= @student_submission.carpool || 'n/a' %></p>
    <p>Transportation Waiver Agreement: <%= @student_submission.transportation_consent %></p>
    <p>Parent/Guardian Digital Signature <%= @student_submission.transportation_consent_name %></p>

    <h4>Family and Friends Program & Closing Ceremonies</h4>
    <p>Which of the following end-of-conference programs would you like to attend?: <%= @student_submission.ceremony_attendance %></p>
    <% if @student_submission.ceremony_attendance == EnumConstants::CEREMONY_OPTIONS[0] ||
          @student_submission.ceremony_attendance == EnumConstants::CEREMONY_OPTIONS[1] %>
      <p>Number of family members/friends attending (not including the student): <%= @student_submission.ceremony_attendance_number || 'n/a' %></p>
    <% end %>

    <h4>Risk Waiver</h4>
    <p>Student Acknowledgement of Risk Agreement: <%= @student_submission.risk_student_consent %></p>
    <p>Student Digital Signature <%= @student_submission.risk_student_name %></p>
    <p>Student Email: <%= @student_submission.risk_student_email %></p>
    <p>Date: <%= @student_submission.risk_student_date %></p>
    <p>Parent/Guardian Acknowledgement of Risk Agreement: <%= @student_submission.risk_guardian_consent %></p>
    <p>Parent/Guardian Digital Signature <%= @student_submission.risk_guardian_name %></p>
    <p>Parent/Guardian Relationship: <%= @student_submission.risk_guardian_relationship %></p>
    <p>Parent/Guardian Email: <%= @student_submission.risk_guardian_email %></p>
    <p>Date: <%= @student_submission.risk_guardian_date %></p>

    <h4>Participation Commitment</h4>
    <p>Student Participation Agreement: <%= @student_submission.participation_student_consent %></p>
    <p>Student Name: <%= @student_submission.participation_student_name %></p>
    <p>Parent/Guardian Participation Agreement: <%= @student_submission.participation_guardian_consent %></p>
    <p>Parent/Guardian Name: <%= @student_submission.participation_guardian_name %></p>

    <p>Best,</p>
    <h4>The EDGE Recruitment Team</h4>
    <img style="max-height: 72px;" src="https://9c404004ce0d907890fa-fbe50a01167c9238a8e63220e2af5ab8.ssl.cf1.rackcdn.com/user_photo-561f019532d91.jpg">
  </div>
</div>
