<div style="width: 100%; background-color: #ebeef2;">
  <div style="width: 600px; padding: 24px; margin: auto; background-color: #ffffff;">
    <h4>Hi <%= @primary_contact.first_name %>,</h4>

    <p>Thank you for your student selection. We can't wait to meet your student at the upcoming conference!</p>

    <p>Your student was sent a link to confirm the rest of their registration process.</p>

    <p>Please review the information below for accuracy. Please email any corrections to registration@edgeyl.org.</p>

    <h4>School Information</h4>
    <p>School name: <%= @school.name %></p>
    <p>Address one: <%= @school.address_one %></p>
    <p>Address two: <%= @school.address_two || 'n/a' %></p>
    <p>Address city: <%= @school.address_city %></p>
    <p>Address state: <%= @school.address_state %></p>
    <p>Address zip: <%= @school.address_zip %></p>
    <p>Website: <%= @school.website || 'n/a' %></p>

    <h4>School Contact Information</h4>
    <p>School contact first name: <%= @primary_contact.first_name %></p>
    <p>School contact last name: <%= @primary_contact.last_name %></p>
    <p>...</p>

    <p>Best,</p>
    <h4>The EDGE Recruitment Team</h4>
    <img style="max-height: 72px;" src="https://9c404004ce0d907890fa-fbe50a01167c9238a8e63220e2af5ab8.ssl.cf1.rackcdn.com/user_photo-561f019532d91.jpg">
  </div>
</div>
